{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('delegate_panel_damaged_educator_period') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-school text-3xl"></span>
                Oštećeni za {{ period.date|date('F')|trans }}, {{ period.year }}
            </h2>

            {{ include('flashes.html.twig') }}

            {% form_theme form with ['form.html.twig', 'form_inline.html.twig'] %}
            {{ form(form) }}

            <div class="overflow-x-auto mt-6">
                <div class="flex justify-between items-center mb-4">
                    <div class="text-gray-500">
                        Ukupno rezultata: <span class="font-bold">{{ damagedEducators.total }}</span>
                    </div>

                    <a href="{{ path('delegate_panel_new_damaged_educator', { 'period': period.id }) }}" class="btn {% if period.active %}btn-primary{% else %}btn-disabled{% endif %}">
                        <span class="ti ti-plus text-xl"></span>
                        Dodaj
                    </a>
                </div>

                {% if damagedEducators.total > 0 %}
                    <table class="table rounded-xl border border-base-200">
                        <thead class="bg-gray-100">
                            <tr>
                                <th>
                                    <span class="ti ti-user text-xl"></span>
                                    Ime
                                </th>
                                <th>
                                    <span class="ti ti-building text-xl"></span>
                                    Škola
                                </th>
                                <th>
                                    <span class="ti ti-cash text-xl"></span>
                                    Cifra
                                </th>
                                <th>
                                    <span class="ti ti-credit-card text-xl"></span>
                                    Broj računa
                                </th>
                                <th>
                                    <span class="ti ti-calendar-event text-xl"></span>
                                    Registrovan
                                </th>
                                <th>
                                    <span class="ti ti-user-cog text-xl"></span>
                                    Delegat
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for damagedEducator in damagedEducators.items %}
                            <tr class="hover:bg-gray-100">
                                <td>{{ damagedEducator.name }}</td>
                                <td>
                                    <div>{{ damagedEducator.school.name }}</div>
                                    <div class="text-gray-500">{{ damagedEducator.school.city.name }}</div>
                                </td>
                                <td>{{ damagedEducator.amount|number_format }}</td>
                                <td>{{ damagedEducator.accountNumber }}</td>
                                <td>{{ damagedEducator.updatedAt|date('d.m.Y.') }}</td>
                                <td>{{ damagedEducator.createdBy.fullName }}</td>
                                <td>
                                    <div class="flex gap-2 justify-end">
                                        <a href="{{ path('delegate_panel_damaged_educator_transactions', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.period.active %}btn-disabled{% else %}btn-primary{% endif %} btn-sm flex tooltip" data-tip="Spisak IZU">
                                            <span class="ti ti-credit-card text-xl"></span>
                                        </a>
                                        <a href="{{ path('delegate_panel_delete_damaged_educator', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.period.active %}btn-error{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Brisanje">
                                            <span class="ti ti-trash text-xl"></span>
                                        </a>
                                        <a href="{{ path('delegate_panel_edit_damaged_educator', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.period.active %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Izmeni">
                                            <span class="ti ti-edit text-xl"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
