{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-4">
            <div class="rounded-lg bg-base-100 p-10 shadow-sm">
                <div class="text-center">
                    <span class="text-4xl font-bold">Mreža solidarnosti za prosvetu</span>
                </div>

                <div class="divider my-10">Promena lozinka</div>

                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <div class="mb-2">
                        <label class="input w-full">
                            <span class="ti ti-lock text-2xl opacity-50"></span>
                            {{ form_widget(form.rawPassword.first) }}
                        </label>

                        {{ form_errors(form.rawPassword.first) }}
                    </div>

                    <div class="mb-2">
                        <label class="input w-full">
                            <span class="ti ti-lock text-2xl opacity-50"></span>
                            {{ form_widget(form.rawPassword.second) }}
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary w-full">Potvrdi</button>
                {{ form_end(form) }}

                <div class="divider my-10"></div>

                <div class="mt-2 text-center text-gray-500">
                    <a href="{{ path('home') }}" class="link link-primary no-underline">
                        Vrati se na početnu
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}