{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-4">
            <div class="rounded-lg bg-base-100 p-10 shadow-sm">
                <div class="text-center">
                    <span class="text-4xl font-bold">Mreža solidarnosti za prosvetu</span>
                </div>

                <div class="divider my-10">Prijava</div>
                {{ include('flashes.html.twig') }}

                {% if error %}
                    <div role="alert" class="alert alert-error mb-4">
                        <span class="ti ti-circle-x text-2xl"></span>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form method="POST">
                    <div class="mb-2">
                        <label class="input w-full">
                            <span class="ti ti-mail text-2xl opacity-50"></span>
                            <input type="email" class="" name="_username" placeholder="Email" value="{{ last_username }}" />
                        </label>
                    </div>

                    <div class="mb-4">
                        <label class="input w-full">
                            <span class="ti ti-lock text-2xl opacity-50"></span>
                            <input type="password" class="grow" name="_password" placeholder="********" />
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary w-full">Uloguj se</button>
                </form>

                <div class="text-end mt-2">
                    <a href="{{ path('forgot_password') }}" class="link link-primary no-underline">Zaboravili ste lozinku?</a>
                </div>

                <div class="divider my-10"></div>

                <div class="mt-8 text-center">
                    <span class="text-gray-500">Nemate nalog?</span>
                    <a href="{{ path('register') }}" class="link link-primary no-underline">Registrujte se</a>
                </div>

                <div class="mt-2 text-center text-gray-500">
                    <a href="{{ path('home') }}" class="link link-primary no-underline">
                        Vrati se na početnu
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
