{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-4 py-10">
        {{ render(controller('App\\Controller\\HomeController::basicNumbers')) }}

        <div class="card bg-base-100 shadow mt-4">
            <div class="card-body">
                <div class="overflow-x-auto">
                    <table class="table rounded-xl border border-base-200">
                        <thead class="bg-gray-100">
                            <tr>
                                <th>
                                    <span class="ti ti-building-community text-xl"></span>
                                    Mesto
                                </th>
                                <th>
                                    <span class="ti ti-school text-xl"></span>
                                    Škola
                                </th>
                                <th>
                                    <span class="ti ti-cash text-xl"></span>
                                    Ukupno isplaćeno
                                </th>
                                <th>
                                    <span class="ti ti-cash text-xl"></span>
                                    Prosečan isplaćen iznos<br>po nastavniku
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for school in schools %}
                            <tr class="hover:bg-gray-100">
                                <td>{{ school.cityName }}</td>
                                <td>{{ school.name }}</td>
                                <td>{{ school.totalConfirmedAmount|number_format(0, ',', '.') }} RSD</td>
                                <td>
                                    {{ (school.totalConfirmedAmount / school.totalDamagedEducators)|number_format(0, ',', '.') }} RSD
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
