{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('delegate_damaged_educator_choose_period') }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-device-desktop-analytics text-3xl"></span>
                Statistika za {{ period|format_period }}
            </h2>

            <div>
                <div>Ukupno prijavljeno oštećenih: {{ statistics.totalDamagedEducators|number_format }} iz {{ statistics.totalActiveSchools|number_format }} škola</div>
                <div>Prosečno primljeno para po oštećenom (potvrđeno): {{ statistics.averageAmountPerDamagedEducator|number_format }} RSD</div>
            </div>

            <div class="overflow-x-auto mt-6">
                <table class="table rounded-xl border border-base-200">
                    <thead class="bg-gray-100">
                        <tr>
                            <th>
                                <span class="ti ti-building text-xl"></span>
                                Ime škole
                            </th>
                            <th>
                                <span class="ti ti-user text-xl"></span>
                                Ukupno prijavljenih oštećenih
                            </th>
                            <th>
                                <span class="ti ti-cash text-xl"></span>
                                Unešena cifra
                            </th>
                            <th>
                                <span class="ti ti-cash text-xl"></span>
                                Potvrđeno
                            </th>
                            <th>
                                <span class="ti ti-cash text-xl"></span>
                                Prosečno primljeno para po oštećenom (potvrđeno)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for school in statistics.schools %}
                        <tr class="hover:bg-gray-100">
                            <td>{{ school.entity.name }}</td>
                            <td>{{ school.totalDamagedEducators }}</td>
                            <td>{{ school.sumAmount|number_format }}</td>
                            <td>{{ school.sumAmountConfirmedTransactions|number_format }}</td>
                            <td>{{ school.averageAmountPerDamagedEducator|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-school text-3xl"></span>
                Oštećeni za {{ period|format_period }}
            </h2>

            {{ include('flashes.html.twig') }}

            {% form_theme form with ['form.html.twig', 'form_inline.html.twig'] %}
            {{ form(form) }}

            <div class="overflow-x-auto mt-6">
                <div class="flex justify-between items-center mb-4">
                    <div class="text-gray-500">
                        Ukupno rezultata: <span class="font-bold">{{ damagedEducators.total }}</span>
                    </div>

                    <div class="flex gap-2 ml-auto">
                        {% if showImport %}
                            <a href="{{ path('delegate_damaged_educator_import', { 'period': period.id }) }}" class="btn btn-primary">
                                <span class="ti ti-file-type-xls text-xl"></span>
                                Dodaj Excel
                            </a>
                        {% endif %}

                        <a href="{{ path('delegate_damaged_educator_new', { 'period': period.id }) }}" class="btn btn-primary">
                            <span class="ti ti-plus text-xl"></span>
                            Dodaj
                        </a>
                    </div>
                </div>

                {% if damagedEducators.total > 0 %}
                    <table class="table rounded-xl border border-base-200">
                        <thead class="bg-gray-100">
                            <tr>
                                <th>
                                    <span class="ti ti-user text-xl"></span>
                                    Ime
                                </th>
                                <th>
                                    <span class="ti ti-building-community text-xl"></span>
                                    Grad
                                </th>
                                <th>
                                    <span class="ti ti-building text-xl"></span>
                                    Škola
                                </th>
                                <th>
                                    <span class="ti ti-cash text-xl"></span>
                                    Cifra
                                </th>
                                <th>
                                    <span class="ti ti-credit-card text-xl"></span>
                                    Broj računa
                                </th>
                                <th>
                                    <span class="ti ti-calendar-event text-xl"></span>
                                    Kreiran
                                </th>
                                <th>Status</th>
                                <th>
                                    <span class="ti ti-user-cog text-xl"></span>
                                    Delegat
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for damagedEducator in damagedEducators.items %}
                            <tr class="hover:bg-gray-100">
                                <td>{{ damagedEducator.name }}</td>
                                <td>{{ damagedEducator.city.name }}</td>
                                <td>{{ damagedEducator.school.name }}</td>
                                <td>{{ damagedEducator.amount|number_format }}</td>
                                <td class="whitespace-nowrap">{{ damagedEducator.accountNumber|account_number_format }}</td>
                                <td>{{ damagedEducator.updatedAt|date('d.m.Y.') }}</td>
                                <td class="whitespace-nowrap">
                                    {{ damagedEducator.status|damaged_educator_status|raw }}
                                </td>
                                <td>
                                    {% if damagedEducator.createdBy %}
                                        {{ damagedEducator.createdBy.fullName }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="flex gap-2 justify-end">
                                        <a href="{{ path('delegate_damaged_educator_transactions', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToViewTransactions %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Spisak IZU">
                                            <span class="ti ti-credit-card text-xl"></span>
                                        </a>
                                        <a href="{{ path('delegate_damaged_educator_delete', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToDelete %}btn-error{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Brisanje">
                                            <span class="ti ti-trash text-xl"></span>
                                        </a>
                                        <a href="{{ path('delegate_damaged_educator_edit', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToEdit %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Izmeni">
                                            <span class="ti ti-edit text-xl"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    {% import "macro.html.twig" as macro %}
    {{ macro.pagination('delegate_damaged_educator_list', damagedEducators.total_pages, damagedEducators.current_page) }}
{% endblock %}
