{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.tutorial() }}
    {{ macro.back('delegate_damaged_educator_choose_period') }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4 info-step1">
                <span class="ti ti-device-desktop-analytics text-3xl"></span>
                Statistika za {{ period|format_period }}
            </h2>

            <div class="info-step2">
                <div>Ukupno prijavljeno oštećenih: {{ statistics.totalDamagedEducators|number_format }} iz {{ statistics.totalActiveSchools|number_format }} škola</div>
                <div>Prosečno primljeno para po oštećenom (potvrđeno): {{ statistics.averageAmountPerDamagedEducator|number_format }} RSD</div>
            </div>

            <div class="overflow-x-auto mt-6 info-step3">
                <table class="table rounded-xl border border-base-200">
                    <thead class="bg-gray-100">
                        <tr>
                            <th>
                                <span class="ti ti-building text-xl"></span>
                                Ime škole
                            </th>
                            <th>
                                <span class="ti ti-user text-xl"></span>
                                Ukupno prijavljenih<br>oštećenih
                            </th>
                            <th>
                                <span class="ti ti-cash text-xl"></span>
                                Unešena cifra
                            </th>
                            <th>
                                <span class="ti ti-cash text-xl"></span>
                                Potvrđeno
                            </th>
                            <th>
                                <span class="ti ti-cash text-xl"></span>
                                Prosečno primljeno para<br>po oštećenom (potvrđeno)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in statistics.schools %}
                        <tr class="hover:bg-gray-100">
                            <td>{{ data.schoolEntity.name }}</td>
                            <td>{{ data.totalDamagedEducators }}</td>
                            <td>{{ data.sumAmount|number_format }}</td>
                            <td>{{ data.sumAmountConfirmedTransactions|number_format }}</td>
                            <td>{{ data.averageAmountPerDamagedEducator|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4 info-step4">
                <span class="ti ti-school text-3xl"></span>
                Oštećeni za {{ period|format_period }}
            </h2>

            {{ include('flashes.html.twig') }}

            <div class="info-step5 mb-6">
                {% form_theme form with ['form.html.twig', 'form_inline.html.twig'] %}
                {{ form(form) }}
            </div>

            <div class="alert alert-info alert-soft  info-step6">
                <span class="ti ti-info-circle text-2xl"></span>

                {% if period.processing %}
                    <div>Za izabrani period aktivno se kreiraju instrukcije za uplatu za sve oštećene sa ove liste.</div>
                {% else %}
                    <div>Za izabrani period se trenutno ne prave nove instrukcije za uplatu.</div>
                {% endif %}
            </div>

            {% if not period.active %}
                <div class="alert alert-info alert-soft info-step6">
                    <span class="ti ti-info-circle text-2xl"></span>

                    <span>
                        <span class="block">Izabrani period je zatvoren za dodavanje novih oštećenih jer je prošak rok za dodavanje.</span>
                        <span>U slučaju da je došlo do greške, kontaktirajte nas na email adresi: <a href="mailto:delegati@mrezasolidarnosti.org" target="_blank" class="link link-primary link-hover">delegati@mrezasolidarnosti.org</a></span>
                    </span>
                </div>
            {% endif %}

            <div class="overflow-x-auto mt-6">
                <div class="flex justify-between items-center mb-4">
                    <div class="text-gray-500">
                        Ukupno rezultata: <span class="font-bold">{{ damagedEducators.total }}</span>
                    </div>

                    <div class="flex gap-2 ml-auto">
                        {% if isUniversity %}
                            <a href="{{ path('delegate_damaged_educator_import', { 'period': period.id }) }}" class="btn {% if period|period_allow_to_add(app.user) %}btn-primary{% else %}btn-disabled{% endif %}">
                                <span class="ti ti-file-type-xls text-xl"></span>
                                Dodaj Excel
                            </a>
                        {% endif %}

                        <a href="{{ path('delegate_damaged_educator_new', { 'period': period.id }) }}" class="btn {% if period|period_allow_to_add(app.user) %}btn-primary{% else %}btn-disabled{% endif %} info-step7">
                            <span class="ti ti-plus text-xl"></span>
                            Dodaj
                        </a>
                    </div>
                </div>

                {% if damagedEducators.total > 0 %}
                    <table class="table rounded-xl border border-base-200">
                        <thead class="bg-gray-100 info-step8">
                            <tr>
                                <th>
                                    <span class="ti ti-user text-xl"></span>
                                    Ime
                                </th>
                                <th>
                                    <span class="ti ti-building-community text-xl"></span>
                                    Grad
                                </th>
                                <th>
                                    <span class="ti ti-building text-xl"></span>
                                    Škola
                                </th>
                                <th>
                                    <span class="ti ti-cash text-xl"></span>
                                    Cifra
                                </th>
                                <th>
                                    <span class="ti ti-credit-card text-xl"></span>
                                    Broj računa
                                </th>
                                <th>
                                    <span class="ti ti-calendar-event text-xl"></span>
                                    Kreiran
                                </th>
                                <th class="info-step9">
                                    <a href="{{ path('static_damaged_educator_status') }}" class="link link-primary link-hover">Status</a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for damagedEducator in damagedEducators.items %}
                            <tr class="hover:bg-gray-100">
                                <td>{{ damagedEducator.name }}</td>
                                <td>{{ damagedEducator.city.name }}</td>
                                <td>{{ damagedEducator.school.name }}</td>
                                <td>{{ damagedEducator.amount|number_format }}</td>
                                <td class="whitespace-nowrap">{{ damagedEducator.accountNumber|account_number_format }}</td>
                                <td>{{ damagedEducator.updatedAt|date('d.m.Y.') }}</td>
                                <td class="whitespace-nowrap">
                                    {{ damagedEducator.status|damaged_educator_status|raw }}
                                </td>
                                <td>
                                    <div class="flex gap-2 justify-end">
                                        <a href="{{ path('delegate_damaged_educator_transactions', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToViewTransactions %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip info-step10" data-tip="Spisak IZU">
                                            <span class="ti ti-credit-card text-xl"></span>
                                        </a>

                                        {% if damagedEducator.isStatusDeleted %}
                                            <a href="{{ path('delegate_damaged_educator_undelete', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToUnDelete %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Vraćanje obrisanog">
                                                <span class="ti ti-trash-off text-xl"></span>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('delegate_damaged_educator_delete', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToDelete %}btn-error{% else %}btn-disabled{% endif %} btn-sm flex tooltip info-step11" data-tip="Brisanje">
                                                <span class="ti ti-trash text-xl"></span>
                                            </a>
                                        {% endif %}

                                        <a href="{{ path('delegate_damaged_educator_edit', { 'id': damagedEducator.id }) }}" class="btn {% if damagedEducator.allowToEdit %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip info-step12" data-tip="Izmeni">
                                            <span class="ti ti-edit text-xl"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    {% import "macro.html.twig" as macro %}
    {{ macro.pagination('delegate_damaged_educator_list', damagedEducators.total_pages, damagedEducators.current_page) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        loadDriver([
            { element: '.info-step1', popover: { title: 'Statistika', description: 'Ovaj deo pokazuje statistiku za izabrani period za sve škole unutar mreže kao i detaljnu statistiku za škole za koje ste Vi delegat.' } },
            { element: '.info-step2', popover: { title: 'Statistika unutar mreže', description: 'Statistika za izabrani period za sve škole unutar mreže.' } },
            { element: '.info-step3', popover: { title: 'Statistika za škole', description: 'Statistika za izabrani period za škole za koje ste Vi delegat.' } },
            { element: '.info-step4', popover: { title: 'Spisak oštećenih', description: 'Ovde se nalazi spisak oštećenih za izabrani period za škole za koje ste Vi delegat.' } },
            { element: '.info-step5', popover: { title: 'Pretraga oštećenih', description: 'Ovde možete da pretražujete oštećene za izabrani period i za škole za koje ste Vi delegat.' } },
            { element: '.info-step6', popover: { title: 'Period moze biti zatvoren za dodavanje', description: 'Period može biti zatvoren za dodavanje novih oštećenih ako je prošak rok za dodavanje.' } },
            { element: '.info-step7', popover: { title: 'Dodavanje novih oštećenih', description: 'Ovde možete da dodate nove oštećene za izabrani period, ako period nije zatvoren.' } },
            { element: '.info-step8', popover: { title: 'Spisak oštećenih', description: 'Možete da vidite spisak svih oštećenih koji su unešeni za škole za koje ste Vi delegat.' } },
            { element: '.info-step9', popover: { title: 'Status oštećenog', description: 'Status označava trenutno stanje oštećenog prosvetnog radnika. Pošto postoji više različitih statusa, molimo vas da posetite <a href="{{ path("static_damaged_educator_status") }}" target="_blank" class="link link-primary link-hover">ovu stranicu</a> radi boljeg razumevanja.' } },
            { element: '.info-step10', popover: { title: 'Spisak instrukcija za uplatu', description: 'Na stranici možete da vidite spisak svih instrukcija za uplatu (ako postoje) za oštećenog koje su prosleđene ka donatorima.' } },
            { element: '.info-step11', popover: { title: 'Brisanje oštećenog', description: 'Na stranici postoji opcija za brisanje oštećenog kao i opcija da se oštećeni vrati iz obrisanih.' } },
            { element: '.info-step12', popover: { title: 'Izmena podataka za oštećenog', description: 'Na stranici postoji opcija za izmenu podataka za oštećenog.' } },
        ]);
    </script>
{% endblock %}
