{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('delegate_damaged_educator_list', { 'period': damagedEducator.period.id }) }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-credit-card text-3xl"></span>
                Spisak svih instrukcija za uplatu oštećenom za period {{ damagedEducator.period|format_period }}
            </h2>

            <div class="mb-4">
                <div>
                    Ime: <span class="font-bold">{{ damagedEducator.name }}</span>
                </div>

                <div>
                    Ukupna cifra: <span class="font-bold">{{ damagedEducator.amount|number_format }}</span>
                </div>

                <div>
                    Broj računa: <span class="font-bold">{{ damagedEducator.accountNumber }}</span>
                </div>
            </div>

            {{ include('flashes.html.twig') }}

            {% if hasCancelledTransactions %}
                <div class="alert alert-info alert-soft mb-4">
                    <span class="ti ti-info-circle text-2xl"></span>
                    Neke od instrukcija za uplatu su otkazane. Do otkazivanja može doći ukoliko je administrator (ili delegat) poništio instrukciju, ili ako je prošlo više od 72 sata bez potvrde donatora da je uplata izvršena. Ukoliko je oštećeni primio uplatu, a instrukcija za uplatu je u međuvremenu otkazana, potrebno je da promenite njen status u „Potvrđeno“. Ako oštećeni nije primio uplatu, sistem će uskoro poslati novu instrukciju donatorima.
                </div>
            {% endif %}

            <div class="overflow-x-auto">
                <div class="flex justify-between items-center mb-4">
                    <div class="text-gray-500">
                        Ukupno rezultata: <span class="font-bold">{{ transactions|length }}</span>
                    </div>
                </div>

                {% if transactions|length > 0 %}
                    <table class="table rounded-xl border border-base-200">
                        <thead class="bg-gray-100">
                            <tr>
                                <th>ID</th>
                                <th>
                                    <span class="ti ti-cash text-xl"></span>
                                    Cifra
                                </th>
                                <th>Status</th>
                                <th>
                                    <span class="ti ti-calendar-event text-xl"></span>
                                    Napravljeno
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr class="hover:bg-gray-100">
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.amount|number_format }}</td>
                                <td>
                                    <div class="whitespace-nowrap">{{ transaction.status|transactionStatus|raw }}</div>
                                    <div class="text-gray-500 max-w-[200px]">
                                        {% if transaction.statusComment %}
                                            {{ transaction.statusComment }}
                                        {% else %}

                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ transaction.createdAt|date('H:i d.m.Y.') }}</td>
                                <td>
                                    <div class="flex gap-2 justify-end">
                                        <a href="{{ path('delegate_damaged_educator_transaction_change_status', { 'id': transaction.id }) }}" class="btn {% if transaction.allowToChangeStatus %}btn-primary{% else %}btn-disabled{% endif %} btn-sm flex tooltip" data-tip="Promeni status">
                                            <span class="ti ti-edit text-xl"></span> Promeni status
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
