{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.html.twig" as macro %}
    {{ macro.back('donor_transaction_list') }}

    <div class="card card-lg bg-base-100 shadow m-4 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-checkbox text-2xl"></span>
                Potvrdi uplatu
            </h2>

            {{ include('flashes.html.twig') }}

            <div class="mb-2 text-gray-500">
                Na ovoj stranici možete potvrditi da ste izvršili uplatu. Nakon što potvrdite uplatu, administrator će dodatno proveriti podatke pre konačne evidencije uplate.
            </div>

            <div>
                {% form_theme form 'form.html.twig' %}
                {{ form_start(form) }}
                    <div class="space-y-4">
                        {{ form_errors(form) }}

                        <div>
                            {{ form_label(form.firstName) }}
                            {{ form_widget(form.firstName) }}
                            {{ form_errors(form.firstName) }}
                            <div class="text-gray-500 text-sm">Ovi podaci su nam potrebni zbog provere vaših uplata ka oštećenim nastavnicima.</div>
                            <div class="text-gray-500 text-sm">Bitno je da ime i prezime budu od osobe koja je izvršila uplatu.</div>
                        </div>

                        <div>
                            {{ form_label(form.lastName) }}
                            {{ form_widget(form.lastName) }}
                            {{ form_errors(form.lastName) }}
                        </div>

                        <div>
                            {{ form_label(form.confirm) }}
                            {{ form_widget(form.confirm) }}
                            {{ form_errors(form.confirm) }}
                        </div>

                        {{ form_row(form.submit) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
