{% extends 'base.html.twig' %}

{% block title %}Admin panel | Mreža Solidarnosti{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
    {% block adminNavbar %}
        <div class="navbar bg-base-100 shadow mb-2">
            <div class="navbar-start">
                <span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]">
                    <label aria-label="Open menu" for="my-drawer" class="btn btn-square btn-ghost drawer-button lg:hidden ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                        </svg>
                    </label>
                </span>
            </div>

            <div class="navbar-center text-lg font-bold">
                Admin Panel
            </div>

            <div class="navbar-end gap-2">
                <span class="hidden sm:inline">
                    {{ app.user.fullName }}
                </span>

                <a href="{{ path('logout') }}" class="btn btn-ghost btn-circle">
                    <span class="ti ti-logout text-2xl"></span>
                </a>
            </div>
        </div>
    {% endblock %}

    <div class="drawer lg:drawer-open">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col mx-4">
            <div class="card card-lg bg-base-100 shadow min-h-screen shadow">
                <div class="card-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu min-h-screen w-50 gap-1 bg-base-100 rounded-r-lg ">
                <li class="mb-4">
                    <a href="{{ path('home') }}">
                        <span class="ti ti-chevrons-left text-2xl"></span>
                        Nazad na sajt
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_home') }}" class="{% if app.request.get('_route') == 'admin_home' %}menu-active{% endif %}">
                        <span class="ti ti-home text-2xl"></span>
                        Početna
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_donor_list') }}" class="{% if app.request.get('_route') == 'admin_donor_list' %}menu-active{% endif %}">
                        <span class="ti ti-user-heart text-2xl"></span>
                        Donatori
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_delegate_list') }}" class="{% if app.request.get('_route') == 'admin_delegate_list' %}menu-active{% endif %}">
                        <span class="ti ti-user-cog text-2xl"></span>
                        Delegati
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_user_delegate_request_list') }}" class="{% if app.request.get('_route') == 'admin_user_delegate_request_list' %}menu-active{% endif %}">
                        <span class="ti ti-checklist text-2xl"></span>
                        Zahtevi za delegata
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_educator_list') }}" class="{% if app.request.get('_route') == 'admin_educator_list' %}menu-active{% endif %}">
                        <span class="ti ti-school text-2xl"></span>
                        Edukatori
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_transaction_list') }}" class="{% if app.request.get('_route') == 'admin_transaction_list' %}menu-active{% endif %}">
                        <span class="ti ti-credit-card-pay text-2xl"></span>
                        Transakcije
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_school_list') }}" class="{% if app.request.get('_route') == 'admin_school_list' %}menu-active{% endif %}">
                        <span class="ti ti-building text-2xl"></span>
                        Škole
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_school_type_list') }}" class="{% if app.request.get('_route') == 'admin_school_type_list' %}menu-active{% endif %}">
                        <span class="ti ti-building-cog text-2xl"></span>
                        Tipovi škola
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_city_list') }}" class="{% if app.request.get('_route') == 'admin_city_list' %}menu-active{% endif %}">
                        <span class="ti ti-building-community text-2xl"></span>
                        Gradovi
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_user_list') }}" class="{% if app.request.get('_route') == 'admin_user_list' %}menu-active{% endif %}">
                        <span class="ti ti-users text-2xl"></span>
                        Korisnici
                    </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">
                        <span class="ti ti-logout text-2xl"></span>
                        Izloguj se
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
