{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="space-y-2">
        <div>
            <span class="ti ti-user-heart text-xl relative top-0.5"></span>
            Ukupno donatora: <span class="font-bold">{{ totalDonors|number_format }}</span>
        </div>
        <div>
            <span class="ti ti-user-heart text-xl relative top-0.5"></span>
            Ukupno aktivnih donatora: <span class="font-bold">{{ totalActiveDonors|number_format }}</span>
        </div>

        <div>
            <span class="ti ti-user-heart text-xl relative top-0.5"></span>
            Ukupno donatora (mesečni donatori): <span class="font-bold">{{ totalMonthlyDonors|number_format }}</span>
        </div>

        <div>
            <span class="ti ti-user-heart text-xl relative top-0.5"></span>
            Ukupno donatora (ne-mesečni donatori): <span class="font-bold">{{ totalNonMonthlyDonors|number_format }}</span>
        </div>

        <div>
            <span class="ti ti-cash text-xl relative top-0.5"></span>
            Ukupno prijavljeni iznos (od mesečnih donatora): <span class="font-bold">{{ sumAmountMonthlyDonors|number_format }}</span>
        </div>

        <div>
            <span class="ti ti-cash text-xl relative top-0.5"></span>
            Ukupno prijavljeni iznos (od ne-mesečnih donatora): <span class="font-bold">{{ sumAmountNonMonthlyDonors|number_format }}</span>
        </div>

        <div>
            <span class="ti ti-user-cog text-xl relative top-0.5"></span>
            Ukupno delegata: <span class="font-bold">{{ totalDelegate|number_format }}</span>
        </div>

        <div>
            <span class="ti ti-user text-xl relative top-0.5"></span>
            Ukupno admina: <span class="font-bold">{{ totalAdmins }}</span>
        </div>
    </div>

    <div class="overflow-x-auto mt-8">
        <table class="table rounded-xl border border-base-200">
            <thead class="bg-gray-100">
                <tr>
                    <th>Period</th>
                    <th>
                        <span class="ti ti-school text-xl"></span>
                        Ukupno oštećenih
                    </th>
                    <th>
                        <span class="ti ti-cash text-xl"></span>
                        Prijavljen iznos
                    </th>
                    <th>
                        <span class="ti ti-cash text-xl"></span>
                        Iznos za koji<br>se čeka uplata
                    </th>
                    <th>
                        <span class="ti ti-cash text-xl"></span>
                        Iznos za koji se čeka<br>potvrda prosvetnog radnika
                    </th>
                    <th>
                        <span class="ti ti-cash text-xl"></span>
                        Potvrđen iznos
                    </th>
                    <th>
                        <span class="ti ti-cash text-xl"></span>
                        Prosečan isplaćen<br>iznos po oštećenom
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for period in periodItems %}
                <tr class="hover:bg-gray-100">
                    <td class="whitespace-nowrap">{{ period.entity|format_period }}</td>
                    <td>{{ period.totalDamagedEducators|number_format }}</td>
                    <td>{{ period.sumAmountDamagedEducators|number_format }}</td>
                    <td>{{ period.sumAmountNewTransactions|number_format }}</td>
                    <td>{{ period.sumAmountWaitingConfirmationTransactions|number_format }}</td>
                    <td>{{ period.sumAmountConfirmedTransactions|number_format }}</td>
                    <td>{{ period.averageAmountPerDamagedEducator|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
