{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="bg-error/10 stats bg-base-100 shadow border border-error/50 w-fit">
        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-user-heart text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno donatora</div>
            <div class="stat-value">{{ totalDonors }}</div>
        </div>

        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-cash text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno skupljeno</div>
            <div class="stat-value">{{ totalDonorsSum|number_format }}</div>
        </div>
    </div>

    <div class="bg-accent/10 stats bg-base-100 shadow border border-accent/50 w-fit">
        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-user-cog text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno delegata</div>
            <div class="stat-value">{{ totalDelegate }}</div>
        </div>

        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-school text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno edukatora</div>
            <div class="stat-value">{{ totalEducators }}</div>
        </div>

        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-cash text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno potrebno</div>
            <div class="stat-value">{{ totalEducatorsSum|number_format }}</div>
        </div>
    </div>

    <div class="bg-accent/10 stats bg-base-100 shadow border border-accent/50 w-fit">
        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-building text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno škola</div>
            <div class="stat-value">{{ totalSchool }}</div>
        </div>

        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-building-community text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno gradova</div>
            <div class="stat-value">{{ totalCities }}</div>
        </div>
    </div>

    <div class="bg-primary/10 stats bg-base-100 shadow border border-primary/50 w-fit">
        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-users text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno korisnika</div>
            <div class="stat-value">{{ totalUsers }}</div>
        </div>
        <div class="stat">
            <div class="stat-figure text-secondary">
                <span class="ti ti-military-rank text-4xl relative top-1"></span>
            </div>
            <div class="stat-title">Ukupno admina</div>
            <div class="stat-value">{{ totalAdmins }}</div>
        </div>
    </div>
{% endblock %}