{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card-lg bg-base-100 shadow m-10">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl"></span>
                Obrazac za donatore
            </h2>

            <div class="space-y-3">
                <p>Priključi se – Pomozimo prosvetnim radnicima sada!</p>
                <p>Mere smanjenja plata su već stupile na snagu, što znači da moramo odmah reagovati</p>
                <p><span class="font-bold">Hitno nam je potrebno više donatora!</span> Broj ugroženih nastavnika raste iz dana u dan, a vremena je sve manje.</p>
                <p class="font-bold">Prijavite se odmah i pomozite da zaštitimo što veći broj prosvetnih radnika putem direktne materijalne podrške.</p>
                <p>* Obavezno je da donatori ostave svoju mejl adresu kako bismo im mogli pravovremeno poslati tačne i personalizovane instrukcije za uplatu.</p>
                <p><span class="font-bold">Želite više informacija?</span><br>Pripremili smo dokument koji sadrži odgovore na sva ključna pitanja vezana za ovaj model podrške. <span class="font-bold">Molimo vas da ga pažljivo pročitate</span>.</p>

                <p>
                    <span class="ti ti-paperclip"></span>
                    <span class="font-bold">Važna pitanja i odgovori</span>: <a href="https://drive.google.com/file/d/1MEnYGGyp0wWojRV5gSPg3LC_pxBX2JLJ/view?usp=sharing" target="_blank" class="link link-primary no-underline">ovde</a>
                </p>

                <p>Takođe, možete se detaljnije informisati putem naših društvenih mreža.</p>
                <p><a href="http://itsrbija.org/" target="_blank" class="link link-primary no-underline">IT Srbija</a> – Neformalna grupa IT Stručnjaka</p>
            </div>

            <div class="divider"></div>

            {{ include('flashes.html.twig') }}

            {% form_theme form 'form.html.twig' %}
            {{ form_start(form) }}
                <div class="grid grid-cols-2 gap-10 mb-4">
                    <div>
                        {{ form_label(form.isMonthly) }}
                        {{ form_widget(form.isMonthly, { 'attr': { 'class': 'select select-md select-bordered rounded-md w-full' } }) }}
                        {{ form_errors(form.isMonthly) }}

                        <span class="text-gray-500 text-sm">Klikom na "Da" prihvatate mesečno izdvajanje dogovorenog iznosa, a klikom na "Ne" odbijate tu obavezu</span>
                    </div>

                    <div>
                        {{ form_label(form.amount) }}
                        {{ form_widget(form.amount, { 'attr': { 'class': 'input input-md input-bordered rounded-md w-full' } }) }}
                        {{ form_errors(form.amount) }}

                        <span class="text-gray-500 text-sm">Iznos sa kojim sam spreman/a da pomognem u dinarima (RSD). Minimalni iznos je 500</span>
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.comment) }}
                    {{ form_widget(form.comment) }}
                    {{ form_errors(form.comment) }}
                    <span class="text-gray-500 text-sm">Unesi dodatni komentar ili sugestiju</span>
                </div>

                {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-primary w-full' } }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
