{% extends 'base.html.twig' %}

{% block body %}
    {% import "macro.twig" as macro %}
    {{ macro.back('home') }}

    <div class="card card-lg bg-base-100 shadow m-10 mt-0">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-user-heart text-3xl"></span>
                Obrazac za donatore
            </h2>

            <div class="space-y-4">
                <div>
                    <div>Priključi se – Pomozimo prosvetnim radnicima sada!</div>
                    <div>Mere smanjenja plata su već stupile na snagu, što znači da moramo odmah reagovati</div>
                </div>

                <div>
                    <div><span class="font-bold">Hitno nam je potrebno više donatora!</span> Broj ugroženih nastavnika raste iz dana u dan, a vremena je sve manje.</div>
                    <div class="font-bold">Prijavite se odmah i pomozite da zaštitimo što veći broj prosvetnih radnika putem direktne materijalne podrške.</div>
                </div>

                <div>
                    <div class="font-bold">Želite više informacija?</div>
                    <div>Pripremili smo dokument koji sadrži odgovore na sva ključna pitanja vezana za ovaj model podrške.</div>
                    <div>Link do dokumenta: <a href="https://drive.google.com/file/d/1MEnYGGyp0wWojRV5gSPg3LC_pxBX2JLJ/view?usp=sharing" target="_blank" class="link link-primary link-hover">drive.google.com</a></div>
                </div>

                <div>
                    <div class="font-bold">Imate pitanje?</div>
                    <div>Kontaktirajte nas na adresi: <a href="mailto:donatori@mrezasolidarnosti.org" target="_blank" class="link link-primary link-hover">donatori@mrezasolidarnosti.org</a></div>
                </div>
            </div>

            <div class="divider"></div>

            {{ include('flashes.html.twig') }}

            {% if app.user.userDonor %}
                <div class="alert alert-success alert-soft">
                    <span class="ti ti-user-heart text-2xl"></span>
                    <span>Već ste se prijavili na listu donatora. U slučaju da želite da promenite podatke unesite nove u formu ispod.</span>
                </div>

                <div class="alert alert-error alert-soft mb-4">
                    <span class="ti ti-x text-2xl"></span>
                    <span>Ako želite da se odjavite sa liste donatora kliknite na sledeći link: <a href="{{ path('donor_unsubscribe', { '_token': csrf_token('unsubscribe') }) }}" class="link link-primary link-hover">odjava</a></span>
                </div>
            {% endif %}

            {% form_theme form 'form.html.twig' %}
            {{ form_start(form) }}
                <div class="grid grid-cols-2 gap-10 mb-4">
                    <div>
                        {{ form_label(form.isMonthly) }}
                        {{ form_widget(form.isMonthly, { 'attr': { 'class': 'select select-md select-bordered rounded-md w-full' } }) }}
                        {{ form_errors(form.isMonthly) }}

                        <span class="text-gray-500 text-sm">Klikom na "Da" prihvatate mesečno izdvajanje dogovorenog iznosa, a klikom na "Ne" odbijate tu obavezu</span>
                    </div>

                    <div>
                        {{ form_label(form.amount) }}
                        {{ form_widget(form.amount, { 'attr': { 'class': 'input input-md input-bordered rounded-md w-full' } }) }}
                        {{ form_errors(form.amount) }}

                        <span class="text-gray-500 text-sm">Iznos sa kojim sam spreman/a da pomognem u dinarima (RSD). Minimalni iznos je 500</span>
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.comment) }}
                    {{ form_widget(form.comment) }}
                    {{ form_errors(form.comment) }}
                    <span class="text-gray-500 text-sm">Unesi dodatni komentar ili sugestiju</span>
                </div>

                {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-primary w-full' } }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
