{% extends 'admin/base.html.twig' %}

{% block content %}
    {{ include('flashes.html.twig') }}

    {% form_theme form with ['form.html.twig', 'form_inline.html.twig'] %}
    {{ form(form) }}

    <div class="overflow-x-auto mt-6">
        <div class="flex justify-between items-center mb-4">
            <div class="text-gray-500">
                Ukupno rezultata: <span class="font-bold">{{ cities.total }}</span>
            </div>

            <a href="{{ path('admin_city_new') }}" class="btn btn-primary">
                <span class="ti ti-plus text-xl"></span>
                Dodaj
            </a>
        </div>

        <table class="table rounded-xl border border-base-200">
            <thead class="bg-gray-100">
                <tr>
                    <th>ID</th>
                    <th>Naziv</th>
                    <th>
                        <span class="ti ti-calendar-event text-xl"></span>
                        Kreiran
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for city in cities.items %}
                <tr class="hover:bg-gray-100">
                    <th>{{ city.id }}</th>
                    <td>{{ city.name }}</td>
                    <td>{{ city.createdAt|date('d.m.Y.') }}</td>
                    <td>
                        <div class="flex gap-2 justify-end">
                            <a href="{{ path('admin_city_edit', { 'id': city.id }) }}" class="btn btn-primary btn-sm flex tooltip" data-tip="Izmeni">
                                <span class="ti ti-edit text-xl"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% import "macro.twig" as macro %}
    {{ macro.pagination('admin_city_list', cities.total_pages, cities.current_page) }}
{% endblock %}
