{% if app.session.flashbag.peekAll %}
    <div class="my-4">
        {% for message in app.flashes('success') %}
            <div role="alert" class="alert alert-success mb-2">
                <span class="ti ti-circle-check text-2xl"></span>
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div role="alert" class="alert alert-error mb-2">
                <span class="ti ti-exclamation-circle text-2xl"></span>
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div role="alert" class="alert alert-error mb-2">
                <span class="ti ti-exclamation-circle text-2xl"></span>
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        {% for email in app.flashes('unverified_user') %}
            <div role="alert" class="alert alert-warning mb-2">
                <span class="ti ti-exclamation-circle text-2xl"></span>
                <span>Korisnik nije potvrdio email adresu. Molimo potvrdite vašu email adresu.</span>
            </div>
            <input type="hidden" name="emailresend" value="{{ email }}"/>           
            <button type="submit" class="btn btn-secondary gap-2">Pošalji ponovo email za potvrdu</button>
        {% endfor %}
        
        {% for email in app.flashes('unverified_user_no_alert') %}
            <input type="hidden" name="emailresend" value="{{ email }}"/>           
            <button type="submit" class="btn btn-secondary gap-2">Pošalji ponovo email za potvrdu</button>
        {% endfor %}
    </div>
{% endif %}
