{% macro back(routeName, parameters = {}) %}
    <div class="card bg-base-100 shadow m-4 mb-2 mt-10">
        <div class="px-3 py-4">
            <a href="{{ path(routeName, parameters) }}" class="link link-primary no-underline">
                <span class="ti ti-chevron-left text-2xl relative top-1"></span>
                Nazad
            </a>
        </div>
    </div>
{% endmacro %}

{% macro tutorial() %}
    <div class="m-4 -mb-8 mt-10 text-end">
        <button class="btn btn-warning js-info-button">
            <span class="ti ti-help-circle text-xl"></span> Uputstvo za korišćenje
        </button>
    </div>
{% endmacro %}

{% macro pagination(routeName, totalPages, currentPage) %}
    {% if totalPages > 1 %}
        <div class="join flex justify-center my-5">
            <a href="{{ path(routeName, app.request.query.all|merge({ page: currentPage - 1 })) }}" class="join-item btn {% if currentPage == 1 %}btn-disabled{% endif %}">
                <span class="ti ti-chevron-left text-2xl"></span> Predhodna
            </a>

            <a href="{{ path(routeName, app.request.query.all|merge({ page: currentPage + 1 })) }}" class="join-item btn {% if currentPage >= totalPages %}btn-disabled{% endif %}">
                Sledeća <span class="ti ti-chevron-right text-2xl"></span>
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro nav_links(additional_link_classes = '') %}
    {% if app.user and app.user.userDonor %}
        <li>
            <a href="{{ path('donor_request_form') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-heart-filled text-xl"></span>
                Profil
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('donor_request_form') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-heart text-xl"></span>
                Postani donator
            </a>
        </li>
    {% endif %}

    {% if not (app.user and 'ROLE_DELEGATE' in app.user.getRoles) %}
        <li>
            <a href="{{ path('delegate_request_form') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-user-cog text-xl"></span>
                Postani delegat
            </a>
        </li>
    {% endif %}

    {% if app.user %}
        {% if app.user.userDonor %}
            <li>
                <a href="{{ path('donor_transaction_list') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                    <span class="ti ti-credit-card-pay text-xl"></span>
                    Instrukcije za uplatu
                </a>
            </li>
        {% endif %}

        {% if 'ROLE_DELEGATE' in app.user.getRoles %}
            <li>
                <a href="{{ path('delegate_damaged_educator_choose_period') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                    <span class="ti ti-school text-xl"></span>
                    Spisak oštećenih
                </a>
            </li>
        {% endif %}

        {% if 'ROLE_ADMIN' in app.user.getRoles %}
            <li>
                <a href="{{ path('admin_home') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                    <span class="ti ti-settings text-xl"></span>
                    Admin Panel
                </a>
            </li>
        {% endif %}

        <li>
            <a href="{{ path('profile_edit') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-user text-xl"></span>
                Korisnički podaci
            </a>
        </li>

        <li>
            <a href="{{ path('logout') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-logout text-xl"></span>
                Odjavi se
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('login') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-user text-xl"></span>
                Uloguj se
            </a>
        </li>
    {% endif %}
{% endmacro %}
