{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Zdravo,</p>

    <div>Šaljemo ti spisak oštećenih nastavnika koji imaju instrukcije za uplatu i čekaju tvoju potvrdu.</div>
    <div>Kod svakog oštećenog se nalazi link koji će te preusmeriti na stranicu gde možeš da potvrdiš uplate.</div>

    <ul>
        {% for damagedEducator in damagedEducators %}
            <li>
                {{ damagedEducator.period|format_period }} - {{ damagedEducator.name }} {% if showSchool %}({{ damagedEducator.school.name }}) {% endif %}–

                <a href="https://mrezasolidarnosti.org{{ path('delegate_damaged_educator_transactions', { 'id': damagedEducator.id }) }}">
                    proveri
                </a>
            </li>
        {% endfor %}
    </ul>

    <div>
        <i>Sve ovo možeš da vidiš i na stranici "<a href="https://mrezasolidarnosti.org{{ path('delegate_damaged_educator_choose_period') }}">Spisak oštećenih</a>".</i>
    </div>
{% endblock %}
