{% macro nav_links(additional_link_classes = '') %}
    <li>
        <a href="{{ path('donor_subscribe') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 text-red-400 hover:text-base-100 hover:bg-red-400 lg:border lg:border-red-400 {{ additional_link_classes }}">
            <span class="ti ti-heart text-xl"></span>
            Postani donator
        </a>
    </li>

    {% if not app.user or 'ROLE_DELEGATE' not in app.user.getRoles %}
        <li>
            <a href="{{ path('delegate_request_access') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 text-red-400 hover:text-base-100 hover:bg-red-400 lg:border lg:border-red-400 {{ additional_link_classes }}">
                <span class="ti ti-user-cog text-xl"></span>
                Postani delegat
            </a>
        </li>
    {% endif %}

    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.getRoles %}
            <li>
                <a href="{{ path('admin_home') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                    <span class="ti ti-settings text-xl"></span>
                    Admin Panel
                </a>
            </li>
        {% endif %}

        {% if 'ROLE_DELEGATE' in app.user.getRoles %}
            <li>
                <a href="{{ path('delegate_educators') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                    <span class="ti ti-school text-xl"></span>
                    Spisak oštećenih
                </a>
            </li>
        {% endif %}

        <li>
            <a href="{{ path('profile_edit') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-user text-xl"></span>
                Profile
            </a>
        </li>
        <li>
            <a href="{{ path('logout') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-logout text-xl"></span>
                Odjavi se
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('login') }}" class="text-lg lg:text-base px-4 py-3 lg:py-2 lg:px-3 {{ additional_link_classes }}">
                <span class="ti ti-user text-xl"></span>
                Uloguj se
            </a>
        </li>
    {% endif %}
{% endmacro %}
