{% extends 'admin/base.html.twig' %}

{% block content %}
    {{ include('flashes.html.twig') }}

    {% form_theme form with ['form.html.twig', 'form_inline.html.twig'] %}
    {{ form(form) }}

    <div class="overflow-x-auto mt-6">
        <div class="text-gray-500 mb-2">
            Ukupno rezultata: <span class="font-bold">{{ educators.total }}</span>
        </div>

        <table class="table rounded-xl border border-base-200">
            <thead class="bg-gray-100">
                <tr>
                    <th>
                        <span class="ti ti-user text-xl"></span>
                        Ime
                    </th>
                    <th>
                        <span class="ti ti-building text-xl"></span>
                        Škola
                    </th>
                    <th>
                        <span class="ti ti-cash text-xl"></span>
                        Cifra
                    </th>
                    <th>
                        <span class="ti ti-credit-card text-xl"></span>
                        Broj računa
                    </th>
                    <th>
                        <span class="ti ti-calendar-event text-xl"></span>
                        Registrovan
                    </th>
                    <th>
                        <span class="ti ti-user-cog text-xl"></span>
                        Delegat
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for educator in educators.items %}
                <tr class="hover:bg-gray-100">
                    <td>{{ educator.name }}</td>
                    <td>
                        <div>{{ educator.school.name }}</div>
                        <div class="text-gray-500">{{ educator.school.city.name }}</div>
                    </td>
                    <td>{{ educator.amount|number_format }}</td>
                    <td>{{ educator.accountNumber }}</td>
                    <td>{{ educator.updatedAt|date('d.m.Y.') }}</td>
                    <td>
                        <div>{{ educator.createdBy.fullName ?? educator.createdBy.username }}</div>
                        <a href="{{ path('admin_user_edit', { 'id': educator.createdBy.id }) }}" class="link link-primary link-hover">
                            {{ educator.createdBy.email }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% import "macro.twig" as macro %}
    {{ macro.pagination('admin_educator_list', educators.total_pages, educators.current_page) }}
{% endblock %}
